<div class="container">
    <div class="">
      <h1>Hi <%= current_user.last_name %>! Let's cook some fancy stuff!</h1>
      <!--       <p>My favourite recipes <%= link_to "", recipes_path, class: "fas fa-backward" %></p> -->

<h3>Your favourite recipes</h3>
<div class="row">
      <% current_user.recipes.each do |recipe| %>
          <div class="col-xs-12 col-md-3">
        <div class="card-recipe">
          <h4> <%= recipe.name %>
            <br>
          <%= link_to "Details", recipe_path(recipe), class: "btn btn-primary btn-xs" %></h4>
          <ul class="list-inline">
            <li>time: <%= recipe.time %></li>
            <li>calories: <%= recipe.calories %></li>
            <li>serves: <%= recipe.serves %></li>
            <li>difficulty: <%= recipe.difficulty %></li>
          </ul>
          <%= link_to "Cook now", cooking_session_path(recipe) %>
        </div>
        </div
      <% end %>
    </div>
  </div>
</div>


