<div class="container">
  <h1>Recipes#index</h1>
  <p>Find me in app/views/recipes/index.html.erb</p>
  <div class="row">
    <% @selected_recipes.each do |recipe| %>
    <div class="col-xs-12 col-md-3">
      <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://source.unsplash.com/qoFQxxuk3QY/1600x900');">
        <h2 class="card-recipe-name">
          <%= recipe.name %>
        </h2>
        <p class="card-recipe-ingredients">
          <ul>
            <% recipe.ingredients.each do |ingredient| %>
            <li><%= ingredient.name %></li>
            <% end %>
          </ul>
        </p>
        <!-- Matt: This link needs to be adapted to lead to the shopping list show page -->
        <%= link_to raw("ðŸ“"), recipes_path, class: "recipe-card-link-shopping-list" %>
        <!-- Matt: This link leads to the cooking mode path to lead to the cooking mode page -->
        <%= link_to raw("ðŸ³"), cooking_session_path(recipe), class: "recipe-card-link-cooking-mode" %>
      </div>
      <!-- Matt: This link needs to be adapted to lead to the recipes show page -->
      <%= link_to "", recipes_path, class: "card-link" %>
    </div>
    <% end %>
  </div>
  <div class="row">
    <% Recipe.take(5).each do |recipe| %>
    <div class="col-xs-12 col-md-4">
      <div class="card-recipe" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://source.unsplash.com/qoFQxxuk3QY/1600x900');">
        <h2 class="card-recipe-name">
          <%= recipe.name %>
        </h2>
        <div class="card-recipe-details">
          <ul class="list-inline">
            <li><%= recipe.time %> |<%= recipe.calories %> kcal</li>
          </ul>
        </div>
        <div class="card-footer">
          <!-- Matt: This link needs to be adapted to lead to the shopping list show page -->
          <%= link_to raw("ðŸ“"), recipes_path, class: "recipe-card-link-shopping-list" %>
          <!-- Matt: This link leads to the cooking mode path to lead to the cooking mode page -->
          <%= link_to raw("ðŸ³"), cooking_session_path(recipe), class: "recipe-card-link-cooking-mode" %>

        </div>
      </div>
      <!-- Matt: This link needs to be adapted to lead to the recipes show page -->
   <!--    link_to "Go to recipe", recipe_path(recipe), class: "card-link" -->
    </div>
    <% end %>
  </div>
</div>
