<div class="container">
  <div class="recipe-row">
    <div class="box-recipe-image">
      <%= image_tag @recipe.photo, class: 'recipe-image' %>
    </div>
    <div class="box-recipe-info">
      <h1 id='recipe-title'><%= @recipe.name %></h1>
      <div class="recipe-info-details">
        <p><i class="far fa-clock"></i> <%= @recipe.time %> </p>
        <p><i class="fas fa-weight"></i> <%= @recipe.calories %> kcal</p>
        <p><i class="far fa-thumbs-up"></i> <%= @recipe.difficulty %></p>
      </div>
      <h4>Description</h4>
      <p><%= @recipe.description %></p>
      <h4>Ingredients</h4>
      <div class="recipe-ingredients">
        <ul class="list-inline">
          <% @recipe.measurements.each do |measurement| %>
          <li> <%= measurement.ingredient.name %> <%= measurement.value %> <%= measurement.ingredient.unit %></li>
          <% end %>
        </ul>
      </div>
      <div>
<!--  -->
        <%= link_to "#{current_user ? "Add to shopping list" : "Log in to add to shopping list"}", recipe_measurement_shopping_lists_path(@recipe), method: :post, class: "btn btn-info" %>
        <%= link_to "Cook now", cooking_session_path(@recipe), id: "cook-now", class: "btn btn-primary", remote: true %>
      </div>
    </div>
  </div>
    <div class="recipe-row">
    <div id="cooking-steps">

    </div>
  </div>
</div>

