<div class="container">
  <div class="row">
    <div class="col-xs-6 col-xs-offset-3">
      <h1><%= @recipe.name %></h1>
      <h4>Time: <%= @recipe.time %> min| Calories: <%= @recipe.calories %> kcal | Difficulty: <%= @recipe.difficulty %></h4>
      <p>Description: <%= @recipe.description %></p>
      <% @shopping_list = current_user.shopping_lists.first %>
      <%= link_to "Add to shopping-list", shopping_list_recipe_measurement_shopping_lists_path(@shopping_list, @recipe), method: :post, class: "btn btn-info" %>
      <h4>Ingredients</h4>
      <% @recipe.measurements.each do |measurement| %>
        <ul class="list-inline">
          <li> <%= measurement.ingredient.name %> <%= measurement.value %> <%= measurement.ingredient.unit %></li>
        </ul>
      <% end %>
      <div>
        <%= link_to "Cook now", cooking_session_path(@recipe), class: "btn btn-primary" %>
        <%= link_to "", profile_path(current_user), class: "fas fa-backward" %>
      </div>
    </div>
  </div>
</div>

