
<div class="banner-recipe" style="background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.4)), url('<%= image_path @recipe.photo, class: 'recipe-image' %>');">
    <div class="shopping-list-submit">
      <% if current_user %>
        <%= button_tag "Add to shopping list", id: "add-to-shopping-list", data: { path: recipe_measurement_shopping_lists_path(@recipe) } %>
      <% else %>
      <%= link_to "Log in to add to shopping list", new_user_session_path, class: "btn btn-danger" %>
      <% end %>
    </div>
    <div class="cook-now-button">
      <%= link_to "Cook now!", cooking_session_path(@recipe), id: "cook-now", class: "btn btn-primary", remote: true %>
    </div>
  </div>
</div>

  <div class="recipe-show-wrapper">
    <div class="container">
      <div class="row-recipe-show">
        <div class="recipe-show-image-box col-xs-12 col-md-8">

          <div class="box-recipe-info">
            <h1 id='recipe-title'><%= @recipe.name %></h1>
            <div class="recipe-info-details">
              <ul>
                <li><%= @recipe.time %> ⏱️ </li>
                <li><%= @recipe.calories %>kcal 🍔</li>
                <li><%= @recipe.difficulty %></li>
              </ul>
            </div>

          </div>
          <div class="white-box-show">
            <p>Ingredients</p>
              <div class="recipe-ingredients">
                <ul class="ingredients-list">
                <% @recipe.measurements.each do |measurement| %>
                  <li> <%= measurement.ingredient.name %> <%= measurement.value %> <%= measurement.ingredient.unit %>
                  </li>
                <% end %>
                </ul>
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>
  <div class="recipe-row">
    <div id="cooking-steps">
    </div>
  </div>

