<div class="navbar-wagon">
  <!-- Logo -->
  <div class="navigation_left">
    <%= link_to root_path, class: "navbar-wagon-brand" do %>
      <%= image_tag "red_logo.png", height: 50 %>
    <% end %>
  </div>

  <!-- Right Navigation -->
  <div class="navbar-wagon-right hidden-xs hidden-sm">
        <div>
      <%= link_to "Do the shuffle", ingredients_path, class: "navbar-food-link_1" %>
    </div>
    <div>
      <%= link_to "Recipe of the day", recipes_path, class: "navbar-food-link_2" %>
    </div>
    <% if user_signed_in? %>
    <div>
      <!-- Links when logged in -->
      <%= link_to "Shopping list (#{current_user.shopping_list.recipes.length})", shopping_list_path(current_user.shopping_list), class: "navbar-wagon-item navbar-wagon-link", id: "shopping-list-amount", data: { amount: current_user.shopping_list.recipes.length, id: "number" } %>
    </div>

      <!-- Avatar with dropdown menu -->
      <div class="navbar-wagon-item">
        <div class="dropdown">
          <%= image_tag "https://i.ytimg.com/vi/LxegkOG7unY/maxresdefault.jpg", class: "avatar dropdown-toggle", id: "navbar-wagon-menu", "data-toggle" => "dropdown" %>
            <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
              <li>
              <%= link_to edit_user_registration_path do %>
                <i class="fa fa-cog"></i>  <%= t(".settings", default: "Edit profile") %>
              <% end %>
            </li>
              <li><%= link_to "Logout", destroy_user_session_path, method: :delete %>
              </li>
            </ul>
        </div>
      </div>
    <% else %>
      <!-- Login link (when logged out) -->
      <%= link_to t(".sign_in", default: "Login"), new_user_session_path, class: "navbar-wagon-item navbar-wagon-link" %>
    <% end %>
  </div>

  <!-- Dropdown list appearing on mobile only -->
  <div class="navbar-wagon-item hidden-md hidden-lg">
    <div class="dropdown">
      <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
      <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
        <li><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
        <li><%= link_to "Discover", ingredients_path %></li>
        <li><%= link_to "Surprise!", recipes_path %></li>
      </ul>
    </div>
  </div>
</div>

