<%= form_tag recipes_path, method: :get do %>
 <div class="ingredients-index-container">
    <div class="ingredients-index-bars">
      <div class="ingredients-form-input">
        <%= text_field_tag :ingredient_1,
          params[:ingredient_1],
          class: "form-control",
          placeholder: "Enter an ingredient"
        %>
      </div>
    </div>
    <div class="ingredients-index-bars">
      <div class="ingredients-form-input">
        <%= text_field_tag :ingredient_2,
          params[:ingredient_2],
          class: "form-control",
          placeholder: "Enter an ingredient"
        %>
      </div>
    </div>
    <div class="ingredients-index-bars">
      <div class="ingredients-form-input">
        <%= text_field_tag :ingredient_3,
          params[:ingredient_3],
          class: "form-control",
          placeholder: "Enter an ingredient"
        %>
      </div>
    </div>
    <div class="ingredients-index-bars">
      <div class="ingredients-form-input">
        <%= text_field_tag :ingredient_4,
          params[:ingredient_4],
          class: "form-control",
          placeholder: "Enter an ingredient"
        %>
      </div>
    </div>
  </div>
<% end %>

<!-- M: This code is for jQuery autcomplete -->
<!-- <script>
  (function() {
  new app.Ingredients;
  });
</script>
 -->

