<div class="container-ingredients">
  <%= form_tag searches_path, method: :get, remote: true do %>
 <div class="ingredients-index-container">
    <div class="ingredients-index-bars">
      <div class="ingredients-index-bar-container">
        <div class="ingredients-form-input">
          <%= text_field_tag :ingredient_1,
            params[:ingredient_1],
            class: "form-control",
            placeholder: "Enter an ingredient",
            value: @random_ingredients[0].name %>
        </div>
      </div>
      <div id="ingredients-index-lock-1">
        <p id="ingredients-index-1">
          <%= button_tag(type: "submit", class: "ingredients-index-lock-submit") do %>
            <i class="fas fa-lock-open" data-locked='false'></i>
          <% end %>
        </p>
      </div>
      <!--       M: inserted bad html style here -->
      <p style="color:white;"><%= @random_ingredients[0].name %></p>
    </div>

    <div class="ingredients-index-bars">
      <div class="ingredients-index-bar-container">
        <div class="ingredients-form-input">
          <%= text_field_tag :ingredient_2,
            params[:ingredient_2],
            class: "form-control",
            placeholder: "Enter an ingredient",
            value: @random_ingredients[1].name
          %>
        </div>
      </div>
      <div id="ingredients-index-lock-2">
        <p id="ingredients-index-2">
          <i class="fas fa-lock-open" data-locked='false'></i>
        </p>
      </div>
      <!--       M: inserted bad html style here -->
      <p style="color:white;"><%= @random_ingredients[1].name %></p>
    </div>

    <div class="ingredients-index-bars">
      <div class="ingredients-index-bar-container">
        <div class="ingredients-form-input">
          <%= text_field_tag :ingredient_3,
            params[:ingredient_3],
            class: "form-control",
            placeholder: "Enter an ingredient",
            value: @random_ingredients[2].name
          %>
        </div>
      </div>
      <div id="ingredients-index-lock-3">
        <p id="ingredients-index-3">
          <i class="fas fa-lock-open data-locked='false'"></i>
        </p>
      </div>
      <!--       M: inserted bad html style here -->
      <p style="color:white;"><%= @random_ingredients[2].name %></p>
    </div>

    <div class="ingredients-index-bars">
      <div class="ingredients-index-bar-container">
        <div class="ingredients-form-input">
          <%= text_field_tag :ingredient_4,
            params[:ingredient_4],
            class: "form-control",
            placeholder: "Enter an ingredient",
            value: @random_ingredients[3].name
          %>
      </div>
     </div>
     <div id="ingredients-index-lock-4">
        <p id="ingredients-index-4">
          <i class="fas fa-lock-open data-locked='false'"></i>
        </p>
     </div>
 <!--       M: inserted bad html style here -->
      <p style="color:white;"><%= @random_ingredients[3].name %></p>
    </div>
    </div>
    <%= submit_tag("Submit", :anchor => "selected-recipes", id: "get-recipes", class: "js-scroll-trigger") %>
  <% end %>
</div>
<div class="container container-selected-recipes">
  <div id="selected-recipes">

  </div>
</div>

<!-- M: Loads Javascript that is only relevant for this page. Potential problem, if there is more html code after rendering this page in application.html.erb, it will not be rendered. -->
<%= javascript_pack_tag 'selected_pages' %>

<!-- M: This code is for jQuery autcomplete -->
<!-- <script>
  (function() {
  new app.Ingredients;
  });
</script>
 -->

