<ul>
  <% @shopping_list.ingredients.each do |ingredient| %>
    <li>
      <h5><strong><%= ingredient.name.capitalize %></strong></h5>
      <!-- if the ingredient has only one relative and their names are the same, then it won't display the relative's name -->
        <% unless ingredient.relatives_in_shopping_list(@shopping_list).length == 1 && ingredient.relatives_in_shopping_list(@shopping_list).first.display_name == ingredient.name %>
          <% ingredient.relatives_in_shopping_list(@shopping_list).each do |relative| %>
            <% unless ["salt", "pepper"].include?(ingredient.name) %>
              <ul>
                <li>
                  <%= relative.display_name %>
                  <% if relative.value != 0%>
                    | <%= relative.value.round %>
                    <%= ingredient.unit %>
                  <% end %>
                </li>
              </ul>
            <% end %>
          <% end %>
          <!-- remove this when styling :) -->
        <% end %>
      <!-- do not display the value if it's zero (like in "flour for dusting") -->
      <% if ingredient.total_amount_in_shopping_list(@shopping_list) != 0 %>
        Total:
        <%= ingredient.total_amount_in_shopping_list(@shopping_list) %>
        <%= ingredient.unit %>
      <% end %>
    </li>
    <hr>
  <% end %>
</ul>
