<div class="banner-shopping-list" style="background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.4)), url('<%= image_path recipe.photo, class: 'recipe-image' %>');">
   <%= link_to shopping_list_recipe_path(shopping_list, recipe), method: :delete, data: { confirm: "Are you sure?"}, class: "shopping-list-recipe-card-remove" do %>
      <i class="far fa-times-circle"></i>
      <% end %>
  <div class="shopping-list-recipe-card">

      <h2><%= link_to recipe.name, recipe_path(recipe)  %></h2>

    </div>
    <div class="shopping-list-ingredients"></div>
      <ul class="shopping-list-recipe-card-ingredients">
        <% recipe.measurements.each do |measurement| %>

          <% if @shopping_list.measurements.include?(measurement) %>
            <li class="shopping-list-box">
          <%= measurement.display_name.capitalize %>
            <div class="shopping-list-recipe-card-values">
              <% unless measurement.value == 0 %>
                <%= measurement.value %>
                <%= measurement.ingredient.unit %>
                <%= link_to "🗑", measurement_shopping_list_url(measurement.measurement_for(shopping_list)), method: :delete, data: {confirm: "Are you sure?"}, class: "shopping-list-recipe-card-remove" %>
              <% end %>
            </div>
          </li>
          <% end %>
        <% end %>
      </ul>
  </div>

