<div class="container container-flex">
  <% if @shopping_list.recipes.empty? %>
        <p><%= "You have no recipes yet!" %></p>
        <div><%= link_to "Discover recipes", ingredients_path, class:"btn btn-primary" %></div>
  <% else %>
    <div class="row">
      <div class="col-xs-12 col-md-6" id="shopping-list">
        <h2> Your shopping list </h2>
        <div class="shopping-list-cumulative">
          <ul>
            <% @shopping_list.ingredients.each do |ingredient| %>
              <li>
                <%= ingredient.name %> |
                <%= ingredient.total_amount_in_shopping_list(@shopping_list) %>
                <%= ingredient.unit %> |
              </li>
            <% end %>
          </ul>
        </div>

      </div>

      <div class="col-xs-12 col-md-6">
        <h2> The recipes </h2>
        <ul style= "list-style-type: none">
          <% @shopping_list.recipes.each do |recipe| %>
            <li>
              <div class="shopping-list-recipe-card">
                <div class="shopping-list-recipe-card-details">
                  <%= image_tag recipe.photo, class: "shopping-list-recipe-card-photo" %>
                  <h2><%= recipe.name %></h2>
                  <%= link_to "Remove", shopping_list_recipe_path(@shopping_list, recipe), method: :delete, data: { confirm: "Are you sure?"}, class: "shopping-list-recipe-card-remove" %>
                </div>

                  <ul class="shopping-list-recipe-card-ingredients">
                    <% recipe.measurements.each do |measurement| %>

                      <% if @shopping_list.measurements.include?(measurement) %>

                        <li>
                          <%= measurement.ingredient.name %>
                          <%= link_to "ðŸ—‘ï¸", measurement_shopping_list_path(measurement.measurement_for(@shopping_list)), method: :delete, data: {confirm: "Are you sure?"}, class: "shopping-list-recipe-card-remove" %>
                          <br>

                          <div class="shopping-list-recipe-card-values">
                            <%= measurement.value %>
                            <%= measurement.ingredient.unit %> for
                          </div>

                        </li>

                      <% end %>
                    <% end %>
                  </ul>
              </div>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  <% end %>

</div>


