<div class="container container-flex">
  <% if @shopping_list.recipes.empty? %>
        <p><%= "You have no recipes yet!" %></p>
        <div><%= link_to "Discover recipes", ingredients_path, class:"btn btn-primary" %></div>
  <% else %>
    <div class="row">
      <div class="col-xs-12 col-md-6" id="shopping-list">
        <div class="sl-header-box">
          <h2 class="sl-header"> Your shopping list </h2>
          <div class="send-email-box">
            <%= link_to "Send Email", send_email_shopping_list_path(@user), data: {shopping_list: @shopping_list }, class: "sl-send-email-button" %>
          </div>
        </div>
        <div class="shopping-list-cumulative">
          <ul>

            <% @shopping_list.ingredients.each do |ingredient| %>
              <li>
                <h5 class="sl-ing-name"><%= ingredient.name.capitalize %></h5>

                <!-- if the ingredient has only one relative and their names are the same, then it won't display the relative's name -->
                  <% unless ingredient.relatives_in_shopping_list(@shopping_list).length == 1 && ingredient.relatives_in_shopping_list(@shopping_list).first.display_name == ingredient.name %>
                    <% ingredient.relatives_in_shopping_list(@shopping_list).each do |relative| %>
                      <% unless ["salt", "pepper"].include?(ingredient.name) %>
                        <ul id="sl-lists">
                          <li class="sl-list">
                            <%= relative.display_name %>
                            <% if relative.value  %>
                              | <%= relative.value.round %>
                              <%= ingredient.unit %>
                           <% end %>
                          </li>
                        </ul>
                      <% end %>
                    <% end %>
                    <!-- remove this when styling :) -->

                  <% end %>
                <!-- do not display the value if it's zero (like in "flour for dusting") -->
                <% if ingredient.total_amount_in_shopping_list(@shopping_list) != 0 %>

                  <span class="sl-total-am"> Total: <%= ingredient.total_amount_in_shopping_list(@shopping_list).round %>
                  <%= ingredient.unit %> </span>
                <% end %>
                <hr>
              </li>
            <% end %>
          </ul>
        </div>

      </div>

      <div class="col-xs-12 col-md-6 sl-recipes">
        <h2 id="sl-recipe-title_col_1"> Recipes </h2>
        <ul style= "list-style-type: none">
          <% @shopping_list.recipes.each do |recipe| %>
            <li>
              <div class="shopping-list-recipe-card">
                <%= link_to shopping_list_recipe_path(@shopping_list, recipe), method: :delete, data: { confirm: "Are you sure?"}, class: "sl-del-recipe" do %>
                <i class="far fa-minus-square"></i>
                <% end %>
                <div class="shopping-list-recipe-card-details">
                  <%= image_tag recipe.photo, class: "shopping-list-recipe-card-photo" %>
                  <h2><%= recipe.name %></h2>
                  <%= link_to "", recipe_path(recipe), class: "shopping-list-recipe-card-remove" %>
                </div>
              </div>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  <% end %>

</div>
