<div class="container container-flex">
  <% if @shopping_list.recipes.empty? %>
    <p><%= "You have no recipes yet!" %></p>
    <div>
      <%= link_to "Discover recipes", ingredients_path, class:"btn btn-primary" %>
    </div>
  <% else %>
    <div>
      <h2> Your shopping list </h2>
      <%= button_tag "Send shopping list as email", id: "email-send", data: { path: send_email_shopping_list_url(@user), shopping_list: @shopping_list } %>
      <div class="shopping-list-container">

          <% @shopping_list.recipes.each do |recipe| %>
             <%= render "recipe_card", measurement: @measurement, shopping_list: @shopping_list, recipe: recipe %>
          <% end %>

      </div>
    </div>
  <% end %>
</div>
<%= content_tag :div, class: "temp_information", data: { ingredients: render("ingredient", shopping_list: @shopping_list) } do %>
<% end %>


