<div class="container">
  <% if @shopping_list.recipes.empty? %>
    <p><%= "You have no recipes yet!" %></p>
    <div>
      <%= link_to "Discover recipes", ingredients_path, class:"btn btn-primary" %>
    </div>
  <% else %>
    <div class="sl-container-all">
      <div class="sl-title">
      <div>
        <h1>Shopping List</h1>
      </div>
      <div>
        <%= button_tag id: "email-send", data: { path: send_email_shopping_list_url(@user), shopping_list: @shopping_list } do %>
          <i class="far fa-envelope fa-2x"></i>
          <i class="fas fa-angle-right fa-2x"></i>
          <i class="fas fa-angle-right fa-2x"></i>
        <% end %>
      </div>
      </div>

          <% @shopping_list.recipes.each do |recipe| %>
          <div class="sl-recipe-summary-wrapper">
            <%= link_to "remove", shopping_list_recipe_path(@shopping_list, recipe), method: :delete %>
            <div class="sl-recipe-summary-header">
              <div class="sl-recipe-image-container">
                <div class="sl-recipe-image"
                  style="background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.4)), url('<%= image_path recipe.photo %>');">
                  <%= link_to "", recipe_path(recipe), class: "sl-recipe-show" %>
                </div>
              </div>
                <div class="sl-recipe-details">
                  <div class="sl-primary-info-text">
                    <h4><%= link_to recipe.name, recipe_path(recipe)  %></h4>
                  </div>
                  <div class="sl-ingredient-tags">
                 <ul>
                  <% recipe.measurements.each do |measurement| %>
                  <% if @shopping_list.measurements.include?(measurement) %>
                  <li class="sl-ingredient-tag">
                    <%= measurement.display_name.capitalize %>
                      <% unless measurement.value == 0 %>
                      <%= measurement.value %>
                      <%= measurement.ingredient.unit %>
                    <% end %>
                     <%= link_to "", measurement_shopping_list_url(measurement.measurement_for(@shopping_list)), method: :delete, class: "sl-ingredient-remove"%>
                  </li>
                  <% end %>
                  <% end %>
                </ul>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  <% end %>
</div>
<%= content_tag :div, class: "temp_information", data: { ingredients: render("ingredient", shopping_list: @shopping_list) } do %>
<% end %>


