<div class="container">
  <div class="row">
    <div class="col-xs-8 col-xs-offset-2">
      <div class="cooking-mode-header">
        <h2>Let's start cooking!</h2>
        <div class="hide-btn">
          <%= button_tag "Hide", class: "btn btn-success btn-xs", id: "hide-cooking-steps"%>
        </div>
      </div>
      <div id="cooking-mode">
        <div class="cooking-step-card" id="step1">
          <div class='cooking-step-upvote'>
            <div class="cooking-step-sign">🍳</div>
            <% step1 = @recipe.steps.first %>
            <div class='cooking-step-count'>Step <%= step1[0] %></div>
          </div>
          <div class="cooking-step-description">
            <p><%= step1[1] %></p>
          </div>
        </div>
        <% @recipe.steps.drop(1).each do |steps| %>
        <div class="cooking-step-card" id="step<%= steps[0] %>">
          <div class="cooking-step-upvote">
            <div class="cooking-step-sign">🍳</div>
            <div class="cooking-step-count">Step <%= steps[0] %></div>
          </div>
          <div class="cooking-step-description">
            <p><%= steps[1] %></p>
          </div>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

